<!DOCTYPE html><html lang="zh-Hant-TW"><head><meta charset="UTF-8">
<title>{|page_title|}</title></head><body>
<label>AP Active</label> : <span>{|ap_enable|}</span><br>
<label>AP SSID</label> : <span>{|ap_ssid|}</span><br>
<label>AP PWD</label> : <span>{|ap_passwd|}</span><br>
<label>AP MAC</label> : <span>{|ap_mac|}</span><br>
<label>AP IP</label> : <span>{|ap_ip|}</span><br>
<br>
<label>WiFi Active</label> : <span>{|wifi_enable|}</span><br>
<label>WiFi SSID</label> : <span>{|wifi_ssid|}</span><br>
<label>WiFi PWD</label> : <span>{|wifi_passwd|}</span><br>
<label>WiFi MAC</label> : <span>{|wifi_mac|}</span><br>
<label>WiFi IP</label> : <span>{|wifi_ip|}</span><br>
<br>
<a href="/">Home</a> <a href="/network/edit">Network Edit</a> <a href="/network/reboot">Reboot</a>

</body></html>